 <!-- Basic features section-->
 <section id="beta" class="text-dark bg-light">
     <div class="container px-5">
         <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
             <div class="col-12 col-lg-13">
                 <h4 class="display-4 lh-1 font-alt"><i class="bi bi-arrow-right-circle text-danger"
                         style="font-size:45px"></i> Devenez Bêta-Testeur</h4>

                 <p class="lead fw-normal">
                     Profitez avant tout le monde des fonctionnalités mobiles et participez à l’amélioration des
                     applications <b>iOS</b> et <b>Android</b> de <b>Formula<span class="text-danger">News</span></b>.
                     <br>Vous recevrez les corrections de bugs et mises à jour avant les applications mobiles standard
                     📲
                 </p>
                 <h4 class="display-8 lh-1 font-alt"><i class="bi bi-arrow-right-circle text-danger"
                         style="font-size:20px"></i> Comment s’inscrire</h4>
                 <p class="lead fw-normal">
                     La version bêta de <b>Formula<span class="text-danger">News</span></b> est accessible via ce site.
                 </p>
                 <ol>
                     <li>Installez <b>Formula<span class="text-danger">News</span></b> en appuyant sur le bouton <b>«
                             Télécharger »</b> en haut à droite</li>
                     <li>Une fois l'application téléchargée, vous n'avez plus qu'à naviguer</li>
                 </ol>
                 <h4 class="display-8 lh-1 font-alt"><i class="bi bi-arrow-right-circle text-danger"
                         style="font-size:20px"></i> Comment envoyer un commentaire</h4>
                 <p class="lead fw-normal">
                     Aidez-nous à améliorer <b>Formula<span class="text-danger">News</span></b> en envoyant des rapports
                     de bugs, ou en leur partageant vos retours sur l’utilisation d’une fonctionnalité
                 </p>
                 <ul>
                     <li>Appuyez sur le bouton <b>« Partager »</b> en haut à droite et saisissez dans le formulaire les
                         informations nécessaires à votre rapport.</li>
                 </ul>
             </div>
         </div>
     </div>
 </section>
