<section id="features" class="text-muted bg-dark">
     <div class="container px-5">
         <div class="row gx-5 align-items-center">
             <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                 <div class="container-fluid px-5">
                     <div class="row gx-5">
                         <div class="col-md-6 mb-5">
                             <!-- Feature item-->
                             <div class="text-center">
                                 <i class="bi-newspaper icon-feature text-danger d-block mb-3"></i>
                                 <h3 class="font-alt text-white">Dernières Actus</h3>
                                 <p class="text-white mb-0">Suivez les dernières actualités sur la Formule 1</p>
                             </div>
                         </div>
                         <div class="col-md-6 mb-5">
                             <!-- Feature item-->
                             <div class="text-center">
                                 <i class="bi-camera icon-feature text-danger d-block mb-3"></i>
                                 <h3 class="font-alt text-white">Calendriers</h3>
                                 <p class="text-white mb-0">Les calendriers des saisons & des circuits depuis 1950</p>
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-md-6 mb-5 mb-md-0">
                             <!-- Feature item-->
                             <div class="text-center">
                                 <i class="bi-gift icon-feature text-danger d-block mb-3"></i>
                                 <h3 class="font-alt text-white">Résultats</h3>
                                 <p class="text-white mb-0">Accès instantané aux résultats de course depuis 1950</p>
                             </div>
                         </div>
                         <div class="col-md-6">
                             <!-- Feature item-->
                             <div class="text-center">
                                 <i class="bi-patch-check icon-feature text-danger d-block mb-3"></i>
                                 <h3 class="font-alt text-white">Analyses & statistiques</h3>
                                 <p class="text-white mb-0">Aperçu (saisons, circuits, pilotes, constructeurs)</p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4 order-lg-0">
             <div class='device-collection'>
                     <div class='phone-container'>
                         <div class='device phone'>
                             <img src='assets/img/cFone.PNG'>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
