<header class="masthead">
     <div class="container px-5">
         <div class="row gx-5 align-items-center">
             <div class="col-lg-8">
                 <!-- Mashead text and app badges-->
                 <div class="mb-5 mb-lg-0 text-center text-lg-start test">
                     <img class="image" src='assets/img/f1.jpg' />
                     <h1 class="display-1 lh-1 mb-3 font-alt"><i class="bi bi-front text-danger"
                             style="font-size:65px"></i><b> Formula<span class="text-danger">News</span></b></h1>
                     <p class="lead fw-normal">Avec la nouvelle application <b>Formula<span
                                 class="text-danger">News</span></b>, restez au plus près
                         de l’actualité de la <b>Formule 1.</b></p>
                     <p class="lead fw-normal">Téléchargez la nouvelle app de sports mécaniques spécialisées
                         dans la <b>Formule 1.</b></p>
                     <p class="lead fw-normal">Bientôt <b>disponible</b> en téléchargement sur <b>iOS</b> et
                         <b>Android.</b>
                     </p>
                 </div>
             </div>
         </div>
     </div>
 </header>
