<section class="bg-dark text-white" id="download">
     <div class="container">
         <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
             <img class="text-center" src="assets/img/logoicon.png" alt="..." style="height:60px" />
         </div>
         <br />
         <h2 class="text-center font-alt mb-4">Application bientôt disponible ! Stay <span
                 class="text-danger">Connected</span> 🚀</h2>
         <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
             <a class="btn btn-outline-light py-2 px-4 me-lg-3 mb-4 mb-lg-0" style="background-color:#000" href="">

                 Télécharger <b>Formula<span class="text-danger">News</span></b>
             </a>
             <a class="me-lg-3 mb-4 mb-lg-0 isDisabled" href="#!"><img class="app-badge"
                     src="assets/img/google-play-badge.svg" alt="..." /></a>
             <a class="isDisabled" href="#!"><img class="app-badge" src="assets/img/app-store-badge.svg"
                     alt="..." /></a>
         </div>
     </div>
 </section>
